<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300;1,400&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/app.css">
    <title>Document</title>
</head>

<body>
    <section class="nav-bg">
        <nav class=' container mx-auto flex items-center justify-between py-4 h-16'>
            <div class="nav-logo">
                <span class="logo-1 text-3xl font-bold">Dream</span>
                <span class="logo-2 text-4xl font-bold">Service</span>
            </div>
            <div>
                <ul class="flex items-center">
                    <li class="ml-6 font-bold"><a href="/">Menu</a></li>
                    {{#if role}}
                    <li class="ml-6 font-bold"><a href="/admin/offers">Offer</a></li>
                    {{else}}
                    <li class="ml-6 font-bold"><a href="/customer/offers">Offer</a></li>
                    {{/if}}
                    {{#if user}}
                    <li class="ml-6 font-bold">
                        <form id='logout' action="/logout" method="POST">
                            <a onclick="document.getElementById('logout').submit()" href="#">Logout</a>
                        </form>
                    </li>
                    {{else}}
                    <li class="ml-6 font-bold"><a href="/login">Login</a></li>
                    <li class="register-li ml-6 font-bold">
                        <form action="/register" method="POST">
                            <div class="dropdown">
                                <select name="register" id=""
                                    class="nav-select shadow border rounded w-full py-2 px-3 text-grey-darker"
                                    onchange="form.submit()">
                                    <option value="">Register</option>
                                    <option value="admin">Admin</option>
                                    <option value="user">User</option>
                                </select>
                            </div>
                        </form>
                    </li>
                    {{/if}}
                    {{#if userName}}
                    <li class="ml-6 font-bold">
                        <span class="pr-2"><i class='far fa-user-circle text-2xl mr-1'></i> {{userName}}</span>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </nav>
    </section>

    {{{body}}}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="../js/app.js"></script>
</body>

</html>